
{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">
    <!-- Poster background -->
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6" style="background: url({{article.urlToImage}})">
        </div>

        <div class="col-md-6">
            <p>{{ article.name }}</p>
            <h3>{{ article.title }}</h3>

            <p> {{ article.description }}</p>
            <p>{{ article.author }}</p>


        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}