
{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<div class="container">
    <!-- Poster background -->
    <div class="row">
        {% for item in article %}

        <div class="col-md-6" style="background: url({{item.urlToImage}})">
        </div>

        <div class="col-md-6">
            <p>{{ item.author}}</p>
            <h3>{{ item.title }}</h3>

            <p> {{ item.description }}</p>
            <p>{{item.content}}</p>
            <p>{{ item.author }}</p>
            <p>{{item.publishedAt}}</p>
            <a href={{item.url}} target="_blank">Read Full Article</a>


        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}