{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<h1>hey,I am Nicole h</h1>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> News Highlight Website </title>
        {% endif %}
    </head>
    <body>
        {% block content %}
        <h3> General</h3>
        <ul>
            {{ macro.displaySourceList(General_cat)}}
        </ul>
        <h3> </h3>
        <ul>
            {{ macro.displaySourceList(Business_cat)}}
        </ul>
        <h3> </h3>
        <ul>
            {{ macro.displaySourceList(Entertainment_cat)}}
        </ul>

{% endblock%}
    </body>
</html>